<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Confie.WesternGeneral.ServiceLogic.ImportClaimsApplication.Source" value="Source"/>
    <add key="Confie.WesternGeneral.ServiceLogic.ImportClaimsApplication.Destination" value="Destination"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>