<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Configuration.TestKey" value="Configuration.TestValue" />
    <add key="FileHandling.TestKey" value="FileHandling.TestValue" />
    <add key="TestString" value="TestStringValue" />
    <add key="TestInt" value="8" />
    <add key="TestDouble" value="8.25" />
    <add key="TestDecimal" value="8.25" />
    <add key="TestDateTime" value="2018-07-07T08:25:25" />
    <add key="TestBoolean" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Server=myServerName\myInstanceName; Database=myDataBase; User Id=myUsername; Password=myPassword;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Abstractions" publicKeyToken="96bf224d23c43e59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.230" newVersion="2.1.0.230" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>