<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Configuration.TestKey" value="Configuration.TestValue"/>
    <add key="FileHandling.TestKey" value="FileHandling.TestValue"/>
    <add key="TestString" value="TestStringValue" />
    <add key="TestInt" value="8" />
    <add key="TestDouble" value="8.25" />
    <add key="TestDecimal" value="8.25" />
    <add key="TestDateTime" value="2018-07-07T08:25:25" />
    <add key="TestBoolean" value="true" />
  </appSettings>
</configuration>