<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Confie.WesternGeneral.ServiceLogic.ImportClaimsApplication.Source" value="TestValue"/>
    <add key="Confie.WesternGeneral.ServiceLogic.ImportClaimsApplication.Destination" value="TestValue"/>
  </appSettings>
</configuration>